h1 {
    font-weight: 800;
    letter-spacing: -0.02em;
    font-size: 20px;
    line-height: 20px;
    margin: 8px 0 5px 10px;
    padding-top: 0px;
  }


  // ion-button{
  //   --background:#666fea !important;
  //   --background-hover: #666fea !important;
  // }