<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Peliculas favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let item of favoritoGenero">
    <ion-grid *ngIf="item.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h1>{{ item.genero }}</h1>
          <app-slide-poster [proximasMovies]="item.pelis"></app-slide-poster>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
